body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: 1350px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
      max-width: 1600px !important;
    }
  }
}

.homepage-container {
  .homepage-content {
    width: 50%;
    padding: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .title-1 {
      font-size: 35px;
      font-weight: 600;
    }
    .title-2 {
      font-size: 22px;
    }
    .title-3 {
      button {
        border-radius: 5px;
        padding: 0 15px;
        color: white;
        background: #303030;
        height: 40px;

        &:hover {
          background: black;
        }
      }
    }
  }
}
.app-container {
  .header-container {
    .btn-login {
      border-radius: 5px;
      margin-right: 15px;
      padding: 0 15px;
      border: 1px solid #535353;
      height: 40px;
    }
    .btn-signup {
      border-radius: 5px;
      padding: 0 15px;
      color: white;
      background: #303030;
      height: 40px;

      &:hover {
        background: black;
      }
    }
    .navbar {
      padding-top: 20px;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0) !important;
      .nav-link {
        &.active {
          color: aqua;
        }
      }
    }
  }
}

video {
  position: fixed;
  top: 0; /* Căn trên */
  left: 0; /* Căn trái */
  width: 100vw; /* 100% chiều rộng viewport */
  height: 100vh; /* 100% chiều cao viewport */
  z-index: -100; /* Quan trọng: Đẩy video xuống dưới cùng */
  object-fit: cover; /* Đảm bảo video che phủ toàn bộ khung nhìn mà vẫn giữ tỷ lệ */
}
